log4j.rootLogger = WARN, console
log4j.logger.fiftyfive.wicket.examples = DEBUG
log4j.logger.org.apache.wicket.util.tester = INFO

# Uncomment this line to enable detailed request logging and session stats.
# log4j.logger.org.apache.wicket.protocol.http.RequestLogger = INFO

log4j.appender.console = org.apache.log4j.ConsoleAppender
log4j.appender.console.layout = org.apache.log4j.PatternLayout
log4j.appender.console.layout.conversionPattern = [%-5p] [%c{1}] %m%n
