/*-----[ header ]---------------------------------------------------------------
| Common page header styles.
*/
.row > header
{
  margin-top: 2 * $body-text-line-height;
  margin-bottom: $body-text-line-height - 0.1rem;
  border-bottom: 0.1rem solid $light-stroke;
  padding-bottom: $body-text-line-height / 2;

  nav.auth-status
  {
    float: right;
  }
}

.row > footer
{
  color: $secondary-text-color;
  font-style: italic;
}
