#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
   version="2.4">

  <display-name>${artifactId}</display-name>


  <!-- ==================================================================== -->
  <!-- Spring                                                               -->
  <!-- ==================================================================== -->

  <listener>
    <listener-class>
      org.springframework.web.context.ContextLoaderListener
    </listener-class>
  </listener>
  
  <listener>
    <listener-class>
      org.springframework.web.context.request.RequestContextListener
    </listener-class>
  </listener>

  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
      classpath:spring/configuration.xml
      classpath:spring/beans.xml
    </param-value>
  </context-param>

  <!-- CSS Servlet issues all CSS files in a single response -->
  <servlet>
    <servlet-name>Merged CSS</servlet-name>
    <servlet-class>org.springframework.web.servlet.ResourceServlet</servlet-class>
    <init-param>
      <param-name>applyLastModified</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>contentType</param-name>
      <param-value>text/css</param-value>
    </init-param>
    <init-param>
      <param-name>defaultUrl</param-name>
      <param-value>
        /styles/reset.css
        /styles/core.css
        /styles/layout.css
        /styles/content.css
        /styles/forms.css
        /styles/page-specific.css
      </param-value>
    </init-param>
  </servlet>

  <!-- JS Servlet issues all JS files in a single response -->
  <servlet>
    <servlet-name>Merged JS</servlet-name>
    <servlet-class>org.springframework.web.servlet.ResourceServlet</servlet-class>
    <init-param>
      <param-name>applyLastModified</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>contentType</param-name>
      <param-value>text/javascript</param-value>
    </init-param>
    <init-param>
      <param-name>defaultUrl</param-name>
      <param-value>
        /scripts/lib/protoaculous.1.8.2.min.js
        /scripts/global.js
      </param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>Merged CSS</servlet-name>
    <url-pattern>/styles/all</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Merged JS</servlet-name>
    <url-pattern>/scripts/all</url-pattern>
  </servlet-mapping>


  <!-- ==================================================================== -->
  <!-- Wicket                                                               -->
  <!-- ==================================================================== -->

  <filter>
    <filter-name>wicket</filter-name>
    <filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
    <init-param>
      <param-name>applicationClassName</param-name>
      <param-value>${package}.${app_classname}</param-value>
    </init-param>
  </filter>

  <filter-mapping>
    <filter-name>wicket</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

</web-app>
