/* =============================================================================
** The 1140px Grid V2 by Andy Taylor, IE styles
** http://cssgrid.net
** http://www.twitter.com/andytlr
** http://www.andytlr.com
** ========================================================================== */

.lte9 .onecol
{
  width: 4.7%;
}

.lte9 .twocol
{
  width: 13.2%;
}

.lte9 .threecol
{
  width: 22.05%;
}

.lte9 .fourcol
{
  width: 30.6%;
}

.lte9 .fivecol
{
  width: 39%;
}

.lte9 .sixcol
{
  width: 48%;
}

.lte9 .sevencol
{
  width: 56.75%;
}

.lte9 .eightcol
{
  width: 61.6%;
}

.lte9 .ninecol
{
  width: 74.05%;
}

.lte9 .tencol
{
  width: 82%;
}

.lte9 .elevencol
{
  width: 91.35%;
}
