/*-----[ server errors ]--------------------------------------------------------
| Styles for the server error pages. See _feature-1.scss for more details on
| how feature-specific styles should be organized.
*/
.server-error
{
  #page
  {
    padding: $body-text-line-height $column-width;
    
    p:last-of-type,
    dl:last-of-type,
    ol:last-of-type,
    ul:last-of-type
    {
      margin-bottom: 0;
    }
  }
}

@media (min-width: 480px)
{
  .server-error #page
  {
    max-width: 60rem;
  }
}

@media (min-width: 768px)
{
  .server-error #page
  {
    margin: 5rem auto;
    border: 0.2rem solid $silver;
    @include border-radius(1.5rem);
  }
}
