/*-----[ typography ]-----------------------------------------------------------
*/
$body-text-family           : Calibri, "Myriad Pro", Tahoma, sans-serif;
$body-text-size             : 1.6rem;
$body-text-line-height      : 2.2rem;

$monospace-text-family      : Consolas, Monaco, "Lucida Console", monospace;
$monospace-text-size        : $body-text-size;

$secondary-text-size        : 1.4rem;
$secondary-text-line-height : 1.8rem;

$page-heading-text-size     : 2.4rem;
$subheading-text-size       : 1.8rem;
