/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Variables */
/* Colors */
/* line 14, ../../../../../../../../../../../../../../.gem/ruby/1.9.1/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 17, ../../../../../../../../../../../../../../.gem/ruby/1.9.1/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
  color: black;
  background: white;
}

/* line 19, ../../../../../../../../../../../../../../.gem/ruby/1.9.1/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 21, ../../../../../../../../../../../../../../.gem/ruby/1.9.1/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 23, ../../../../../../../../../../../../../../.gem/ruby/1.9.1/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 25, ../../../../../../../../../../../../../../.gem/ruby/1.9.1/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: "" "";
}
/* line 96, ../../../../../../../../../../../../../../.gem/ruby/1.9.1/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
}

/* line 27, ../../../../../../../../../../../../../../.gem/ruby/1.9.1/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/*-----[ core ]-----------------------------------------------------------------
*/
/* line 11, ../src/screen.scss */
a {
  color: #6f452b;
}

/* line 17, ../src/screen.scss */
a:hover,
a:active {
  color: #c8653a;
}

/* line 22, ../src/screen.scss */
a:link:visited {
  color: #4b2b6f;
}

/* line 27, ../src/screen.scss */
body {
  padding: 18px;
  font-family: "Helvetica", "Arial", "Verdana", sans-serif;
  font-size: 14px;
  line-height: 18px;
}

/* line 36, ../src/screen.scss */
code,
pre {
  font-family: "Consolas", "Menlo", "Monaco", "Lucida Console", monospace;
  font-size: 13px;
}

/* line 42, ../src/screen.scss */
dl, ol, p, pre, ul {
  margin-bottom: 18px;
}

/* line 47, ../src/screen.scss */
dl {
  margin-bottom: 24px;
}

/* line 52, ../src/screen.scss */
dd dd {
  margin-left: 18px;
}

/* line 57, ../src/screen.scss */
h1 {
  margin: 36px 0px 12px;
  color: #c8653a;
  font-size: 24px;
  line-height: 24px;
}

/* line 65, ../src/screen.scss */
h3 {
  margin: 26px 0px 12px;
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
}

/* line 73, ../src/screen.scss */
hr {
  margin: 9px 0px 8px;
  border-style: none;
  height: 2px;
  background-color: #94847c;
  font-size: 0px;
}

/* line 82, ../src/screen.scss */
table {
  border-top: 1px solid #e5dbc7;
}

/* line 88, ../src/screen.scss */
table th,
table td {
  border-bottom: 1px solid #e5dbc7;
  padding: 4px 15px 5px 5px;
  line-height: 18px;
  vertical-align: top;
}

/* line 98, ../src/screen.scss */
table table,
table table th,
table table td {
  border-style: none;
}

/*-----[ tables ]---------------------------------------------------------------
*/
/* line 108, ../src/screen.scss */
tr.TableHeadingColor th,
tr.TableSubHeadingColor th,
td.NavBarCell1 {
  background-color: #dde7f3;
}

/* line 113, ../src/screen.scss */
td.NavBarCell1 {
  padding: 0px;
}

/* line 118, ../src/screen.scss */
td.NavBarCell1 td {
  padding: 4px 5px 5px;
}
