log4j.rootLogger = WARN, console
log4j.logger.${package} = DEBUG

log4j.appender.console = org.apache.log4j.ConsoleAppender
log4j.appender.console.layout = org.apache.log4j.PatternLayout
log4j.appender.console.layout.conversionPattern = [%-5p] [%c{1}] %m%n
